In [19]:
import pandas as pd
from matplotlib import pyplot as plt

from sklearn.model_selection import train_test_split

from lib.Utility import exportExcelWithTimeStamp

from datetime import date, timedelta
import yfinance as yf #Alternative package if webreader does not work: pip install yfinance
import numpy as np # Fundamental package for scientific computing with Python
import joblib
import plotly.express as px
from plotly import graph_objects as go
# Train the model
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn import preprocessing

In [20]:
filename = 'data/League1/23-24.xlsx'
data = pd.read_excel(filename)
data.tail()

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
547,E2,2024-04-27,12:30:00,Reading,Blackpool,3,2,H,1,1,...,2.25,0.50,1.90,1.95,1.90,1.99,1.91,2.10,1.83,1.96
548,E2,2024-04-27,12:30:00,Shrewsbury,Leyton Orient,1,3,A,0,2,...,1.74,-0.25,2.00,1.85,2.04,1.86,2.25,1.86,2.06,1.76
549,E2,2024-04-27,12:30:00,Stevenage,Cheltenham,2,1,H,1,0,...,1.77,0.00,1.85,2.00,1.86,2.03,1.89,2.09,1.85,1.97
550,E2,2024-04-27,12:30:00,Wigan,Bristol Rvs,2,0,H,1,0,...,2.03,-0.25,1.83,2.03,1.83,2.07,1.85,2.07,1.80,2.01
551,E2,2024-04-27,12:30:00,Wycombe,Charlton,1,0,H,1,0,...,2.11,-0.25,2.03,1.83,2.03,1.86,2.11,1.90,2.01,1.80

In [21]:
# Supponiamo che il DataFrame si chiami df
# Aggiungere le colonne per i goal cumulativi
data['HomeGoalsCumulative'] = 0
data['AwayGoalsCumulative'] = 0

# Creare un dizionario per tenere traccia dei goal cumulativi di ogni squadra
goals_cumulative = {}

# Iterare sulle righe del DataFrame
for index, row in data.iterrows():
    home_team = row['HomeTeam']
    away_team = row['AwayTeam']
    home_goals = row['FTHG']
    away_goals = row['FTAG']
    
    # Inizializzare il conteggio dei goal per le squadre se non già presente
    if home_team not in goals_cumulative:
        goals_cumulative[home_team] = 0
    if away_team not in goals_cumulative:
        goals_cumulative[away_team] = 0
    
    # Assegnare i goal cumulativi fino a quel momento
    data.at[index, 'HomeGoalsCumulative'] = goals_cumulative[home_team]
    data.at[index, 'AwayGoalsCumulative'] = goals_cumulative[away_team]
    
    # Aggiornare i goal cumulativi con i goal della partita attuale
    goals_cumulative[home_team] += home_goals
    goals_cumulative[away_team] += away_goals

import pandas as pd

# Supponiamo che il DataFrame si chiami df
# Aggiungere le colonne per i punti cumulativi
data['HomePointsCumulative'] = 0
data['AwayPointsCumulative'] = 0

# Creare due dizionari per tenere traccia dei punti cumulativi di ogni squadra
points_cumulative = {}

# Iterare sulle righe del DataFrame
for index, row in data.iterrows():
    home_team = row['HomeTeam']
    away_team = row['AwayTeam']
    result = row['FTR']
    
    # Inizializzare i punti per le squadre se non già presenti
    if home_team not in points_cumulative:
        points_cumulative[home_team] = 0
    if away_team not in points_cumulative:
        points_cumulative[away_team] = 0
    
    # Assegnare i punti cumulativi fino a quel momento
    data.at[index, 'HomePointsCumulative'] = points_cumulative[home_team]
    data.at[index, 'AwayPointsCumulative'] = points_cumulative[away_team]
    
    # Aggiornare i punti cumulativi in base al risultato della partita
    if result == 'H':  # Vittoria della squadra di casa
        points_cumulative[home_team] += 3
    elif result == 'A':  # Vittoria della squadra ospite
        points_cumulative[away_team] += 3
    elif result == 'D':  # Pareggio
        points_cumulative[home_team] += 1
        points_cumulative[away_team] += 1

# Supponiamo che il DataFrame si chiami df
# Aggiungere le colonne per i goal subiti cumulativi
data['HomeGoalsConcededCumulative'] = 0
data['AwayGoalsConcededCumulative'] = 0

# Creare un dizionario per tenere traccia dei goal subiti cumulativi di ogni squadra
goals_conceded_cumulative = {}

# Iterare sulle righe del DataFrame
for index, row in data.iterrows():
    home_team = row['HomeTeam']
    away_team = row['AwayTeam']
    home_goals = row['FTHG']  # Goal fatti dalla squadra di casa
    away_goals = row['FTAG']  # Goal fatti dalla squadra ospite
    
    # Inizializzare i goal subiti per le squadre se non già presenti
    if home_team not in goals_conceded_cumulative:
        goals_conceded_cumulative[home_team] = 0
    if away_team not in goals_conceded_cumulative:
        goals_conceded_cumulative[away_team] = 0
    
    # Assegnare i goal subiti cumulativi fino a quel momento
    data.at[index, 'HomeGoalsConcededCumulative'] = goals_conceded_cumulative[home_team]
    data.at[index, 'AwayGoalsConcededCumulative'] = goals_conceded_cumulative[away_team]
    
    # Aggiornare i goal subiti cumulativi con i goal della partita attuale
    goals_conceded_cumulative[home_team] += away_goals  # La squadra di casa subisce i goal della squadra ospite
    goals_conceded_cumulative[away_team] += home_goals  # La squadra ospite subisce i goal della squadra di casa

data['MatchGoal'] = data['FTHG'] + data['FTAG']

data.tail(35)

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,MaxCAHA,AvgCAHH,AvgCAHA,HomeGoalsCumulative,AwayGoalsCumulative,HomePointsCumulative,AwayPointsCumulative,HomeGoalsConcededCumulative,AwayGoalsConcededCumulative,MatchGoal
517,E2,2024-04-13,15:00:00,Shrewsbury,Wycombe,0,2,A,0,0,...,2.17,1.78,2.05,31,51,46,52,59,52,2
518,E2,2024-04-13,15:00:00,Stevenage,Burton,1,2,A,0,1,...,1.98,1.91,1.88,53,33,67,40,42,59,3
519,E2,2024-04-16,19:45:00,Bolton,Shrewsbury,2,2,D,1,2,...,2.06,1.83,1.97,79,31,82,46,46,61,4
520,E2,2024-04-16,19:45:00,Bristol Rvs,Cambridge,1,0,H,0,0,...,1.91,1.97,1.83,51,38,54,46,64,58,1
521,E2,2024-04-16,19:45:00,Burton,Cheltenham,1,2,A,1,0,...,1.93,1.96,1.84,35,35,43,38,60,60,3
522,E2,2024-04-16,19:45:00,Oxford,Lincoln,0,1,A,0,0,...,1.85,2.00,1.80,76,62,73,68,53,37,1
523,E2,2024-04-16,19:45:00,Peterboro,Fleetwood Town,4,1,H,1,1,...,1.85,2.01,1.79,80,44,77,37,55,68,5
524,E2,2024-04-16,19:45:00,Port Vale,Wycombe,1,2,A,0,1,...,1.85,2.07,1.76,40,53,40,55,70,52,3
525,E2,2024-04-16,19:45:00,Portsmouth,Barnsley,3,2,H,1,1,...,2.11,1.77,2.05,72,77,91,75,37,57,5
526,E2,2024-04-19,20:00:00,Oxford,Stevenage,1,1,D,0,1,...,1.86,2.03,1.79,76,54,73,67,54,44,2
527,E2,2024-04-20,14:00:00,Northampton,Exeter,1,2,A,0,1,...,2.11,1.80,2.03,55,43,59,58,63,58,3
528,E2,2024-04-20,15:00:00,Blackpool,Barnsley,3,2,H,2,0,...,1.90,1.98,1.82,60,79,70,75,43,60,5
529,E2,2024-04-20,15:00:00,Bolton,Port Vale,2,0,H,0,0,...,1.85,2.00,1.80,81,41,83,40,48,72,2
530,E2,2024-04-20,15:00:00,Bristol Rvs,Peterboro,0,2,A,0,1,...,1.87,2.00,1.81,52,84,57,80,64,56,2
531,E2,2024-04-20,15:00:00,Burton,Reading,3,2,H,3,1,...,2.09,1.80,2.02,36,63,43,56,62,65,5
532,E2,2024-04-20,15:00:00,Cambridge,Derby,0,1,A,0,1,...,1.98,1.93,1.87,38,75,46,86,59,37,1
533,E2,2024-04-20,15:00:00,Carlisle,Wycombe,1,3,A,1,1,...,2.12,1.78,2.02,40,55,30,58,76,53,4
534,E2,2024-04-20,15:00:00,Charlton,Shrewsbury,1,1,D,0,1,...,1.94,1.97,1.83,63,33,52,47,63,63,2
535,E2,2024-04-20,15:00:00,Cheltenham,Lincoln,1,2,A,1,1,...,2.11,1.78,2.02,37,63,41,71,61,37,3
536,E2,2024-04-20,15:00:00,Leyton Orient,Fleetwood Town,0,1,A,0,0,...,1.88,2.00,1.81,50,45,62,37,53,72,1
537,E2,2024-04-20,15:00:00,Portsmouth,Wigan,1,2,A,0,1,...,2.07,1.85,1.94,75,59,94,64,39,55,3
538,E2,2024-04-23,19:45:00,Cambridge,Wycombe,1,1,D,0,0,...,2.05,1.90,1.89,38,58,46,61,60,54,2
539,E2,2024-04-23,19:45:00,Cheltenham,Peterboro,2,0,H,2,0,...,2.02,1.86,1.95,38,86,41,83,63,56,2
540,E2,2024-04-27,12:30:00,Barnsley,Northampton,1,1,D,1,0,...,2.02,1.87,1.93,81,56,75,59,63,65,2
541,E2,2024-04-27,12:30:00,Derby,Carlisle,2,0,H,1,0,...,1.97,1.88,1.91,76,41,89,30,37,79,2
542,E2,2024-04-27,12:30:00,Exeter,Oxford,1,2,A,0,2,...,1.90,1.97,1.83,45,77,61,74,59,55,3
543,E2,2024-04-27,12:30:00,Fleetwood Town,Burton,3,0,H,2,0,...,1.83,2.08,1.75,46,39,40,46,72,64,3
544,E2,2024-04-27,12:30:00,Lincoln,Portsmouth,0,2,A,0,0,...,2.05,1.88,1.91,65,76,74,94,38,41,2
545,E2,2024-04-27,12:30:00,Peterboro,Bolton,3,3,D,0,2,...,2.00,1.93,1.87,86,83,83,86,58,48,6
546,E2,2024-04-27,12:30:00,Port Vale,Cambridge,0,0,D,0,0,...,1.83,2.06,1.76,41,39,40,47,74,61,0
547,E2,2024-04-27,12:30:00,Reading,Blackpool,3,2,H,1,1,...,2.10,1.83,1.96,65,63,56,73,68,45,5
548,E2,2024-04-27,12:30:00,Shrewsbury,Leyton Orient,1,3,A,0,2,...,1.86,2.06,1.76,34,50,48,62,64,54,4
549,E2,2024-04-27,12:30:00,Stevenage,Cheltenham,2,1,H,1,0,...,2.09,1.85,1.97,55,40,68,44,45,63,3
550,E2,2024-04-27,12:30:00,Wigan,Bristol Rvs,2,0,H,1,0,...,2.07,1.80,2.01,61,52,67,57,56,66,2
551,E2,2024-04-27,12:30:00,Wycombe,Charlton,1,0,H,1,0,...,1.90,2.01,1.80,59,64,62,53,55,64,1

In [22]:
resultFileName = filename[:-5] + '-E.xlsx'
data.to_excel(resultFileName)

## TODO
- Average Goal Per Match H/A